<template>
  <v-list-item @dblclick="editing = true">
    <v-list-item-action>
      <v-checkbox
        :input-value="todo.completed"
        @change="toggleTodo(todo)"
      ></v-checkbox>
    </v-list-item-action>

    <v-list-item-content>
      <v-list-item-title
        v-if="!editing"
        :class="{
          'text-decoration-line-through font-italic font-weight-thin':
            todo.completed,
        }"
        >{{ todo.title }}</v-list-item-title
      >
      <v-text-field
        :value="todo.title"
        @blur="doneEdit($event)"
        @keyup.enter="doneEdit($event)"
        @keyup.esc="cancelEdit"
        color="primary"
        flat
        hide-details
        maxlength="1023"
        solo
        v-if="editing"
        autofocus
      ></v-text-field>
    </v-list-item-content>

    <v-list-item-icon>
      <v-icon color="red" @click="deleteTodo(todo)">
        mdi-delete
      </v-icon>
    </v-list-item-icon>
  </v-list-item>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action } from "vuex-class";
import { Todo } from "../store/todo.model";
@Component
export default class TodoItem extends Vue {
  @Prop() private todo!: Todo;
  @Action("toggleTodo") _toggleTodo: any;
  @Action("deleteTodo") _deleteTodo: any;
  @Action updateTodo: any;
  public editing = false;

  public toggleTodo() {
    this._toggleTodo(this.todo);
  }

  public deleteTodo() {
    this._deleteTodo(this.todo);
  }

  public async doneEdit($event: KeyboardEvent) {
    console.log("doneEdit");
    if ($event.target) {
      const target = $event.target as HTMLTextAreaElement;
      const title = target.value;
      await this.updateTodo({ todo: this.todo, title });
      this.editing = false;
    }
  }

  public cancelEdit() {
    this.editing = false;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.v-input__slot {
  padding: 0 !important;
}
</style>
