<template>
  <div class="">
    <div class="text-h1 text-center">todos</div>
    <v-card elevation="15" outlined class="mt-5">
      <v-list>
        <v-list-item>
          <v-list-item-action> </v-list-item-action>

          <v-list-item-content>
            <v-text-field
              @keydown.enter="addNewTodo"
              class="pl-0"
              solo
              flat
              dense
              clearable
              label="What do you want to fix today?"
              hide-details="auto"
              v-model="newTodo"
            ></v-text-field>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>

    <v-card elevation="15" outlined shaped tile class="mt-10">
      <v-progress-linear
        :value="((todos.length - leftItems) / todos.length) * 100"
      ></v-progress-linear>
      <v-card-actions>
        <span class="primary--text">
          {{ leftItems }} item{{ leftItems > 1 ? "s" : "" }} left
        </span>
        <v-spacer></v-spacer>
        <v-btn-toggle
          mandatory
          tile
          group
          dense
          color="primary accent-3"
          v-model="filter"
        >
          <v-btn dense>
            All
          </v-btn>
          <v-btn dense>
            Active
          </v-btn>
          <v-btn dense>
            Complete
          </v-btn>
        </v-btn-toggle>
      </v-card-actions>
      <v-divider></v-divider>
      <v-list flat>
        <template v-for="(todo, index) in filteredTodos">
          <TodoItem :todo="todo" :key="todo.id" />
          <v-divider :todo="todo" :key="index"></v-divider>
        </template>
      </v-list>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Action, Getter } from "vuex-class";
import { FILTER, Todo } from "../store/todo.model";
import TodoItem from "./TodoItem.vue";
TodoItem;
@Component({
  name: "TodoList",
  components: { TodoItem },
})
export default class TodoList extends Vue {
  @Prop() private msg!: string;
  @Getter todos!: Array<Todo>;
  @Action("fetchTodos") _fetchTodos: any;
  @Action("addTodo") _addTodo: any;

  get leftItems() {
    const count = this.todos.filter((todo) => !todo.completed).length;
    return count;
  }
  public filter: FILTER = FILTER.ALL;
  public newTodo = "";

  public addNewTodo() {
    const text = this.newTodo.trim();
    if (text) {
      this._addTodo(text);
    }
    this.newTodo = "";
  }
  public created() {
    this._fetchTodos();
  }

  get filteredTodos() {
    console.log("filteredTodos", this.filter);
    switch (this.filter) {
      case FILTER.ALL:
        return this.todos;
        break;
      case FILTER.ACTIVE:
        return this.todos.filter((t) => !t.completed);
        break;
      case FILTER.COMPLETE:
        return this.todos.filter((t) => t.completed);
        break;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.v-input__slot {
  padding: 0 !important;
}
</style>
